
<!doctype html>
<!--Conditionals for IE8-9 Support-->
<!--[if IE]><html lang="en" class="ie"><![endif]-->
<html>
<head>
    <title>Dawei Home</title>
    <link href="//localhost:9000/css/bootstrap.min.css" rel="stylesheet">
    <script src="//localhost:9000/js/jquery-1.12.1.min.js"></script>
    <script src="//localhost:9000/js/bootstrap.min.js"></script>
</head>
<body>


<p>你好，欢迎来到dawei home！</p>
<ul class="nav nav-pills">
    <li class="active"><a href="/">Home</a></li>
    <li><a href="/track/list">追番</a></li>
    <li><a href="#">购物</a></li>
    <li><a href="#">读书</a></li>
    <li><a href="#">游戏</a></li>
    <li><a href="#">视频</a></li>
</ul>
<!--Off-Canvas-->
<div style="position:relative;height:100%;background: #ececec;">
    <!--Header Toolbar-->
    <div class="header-toolbar tool-head">
        <div class="container">
            <div class="cont-info pull-left">
                你好，欢迎来到dawei home！
            </div>
        </div>
    </div>

    <div style="position: absolute;left:0;bottom:0;width: 100%">
    </div>
</div>
</body>
</html>
